@{
    ViewBag.Title = "Home Page";
}

<style>
    #map {
        height: 100%;
        width: 100%;
        min-height: 80vh;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>




<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron text-center">
            <h1>DarkSky</h1>
            <p class="lead">DarkSky allows you to view the nearest Dark Sky Location to you.</p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <img src="~/Images/stars.jpg" alt="Galaxy" title="Galaxy" class="img-responsive" />
    </div>
</div>