@{
    ViewBag.Title = "Home Page";
}

<style>
    #map {
        height: 100%;
        width: 100%;
        min-height: 80vh;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="jumbotron">
    <h1>DarkSky</h1>
    <p class="lead">DarkSky allows you to view the nearest Dark Sky Location to you.</p>
</div>


<div class="row">
    <img src="~/Images/stars.jpg" class="img-responsive"/>
</div>